<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915457838878-lenn06tf9vfbd6nghc292nhk36aega53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915457838878-lenn06tf9vfbd6nghc292nhk36aega53</string>
	<key>API_KEY</key>
	<string>AIzaSyCXmeHYtiWXbbj9quU51dlDTZXDjCy9bm8</string>
	<key>GCM_SENDER_ID</key>
	<string>915457838878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>productapp-f72d6</string>
	<key>STORAGE_BUCKET</key>
	<string>productapp-f72d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915457838878:ios:5b6fce6f95d63a7957830f</string>
</dict>
</plist>